body {
  background: url(../../assets/img/background.png) no-repeat center center fixed;
  min-height: 100%;
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;
  overflow: visible;

}
