.attention-getter {
  color: white;
  /* font-family: "Exo", sans-serif; */
  font-family: 'Audiowide', cursive;
  padding-bottom: 10px;
  border-bottom: rgba(255, 255, 255, 0.575) solid 2px;
}

h4 {
  margin-top: 2rem;
  color: white;
  padding-bottom: 2rem;
}

h5 {
  color: white;
}

#jumbotron {
  margin-top: 20%;
  color:white
}

.btn-link{
margin-right: 1rem;
/* background-color:aqua;
color:rgb(2, 2, 31) */

}

.btn-secondary{
  margin-left: 1rem;
}