.attention-getter {
  color: white;
  /* font-family: "Exo", sans-serif; */
  font-family: 'Audiowide', cursive;
  padding-bottom: 10px;
  border-bottom: rgba(255, 255, 255, 0.575) solid 2px;
}

#jumbotron {
  margin-top: 15%;
  color:white
}

.btn-link{
margin-right: 1rem;
}

.btn-secondary{
  margin-left: 1rem;
}