
/* html {
  height: 100%;
}

body{
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */



/* .App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.page{
  flex: 1 0 auto;
  width: 100%;

} */
